# Built application files
/*/build/
/build
out/

# Gradle
.gradle/

# Local config
local.properties

# APKs
*.apk
*.aab

# Logs
*.log

# Crashlytics
com_crashlytics_export_strings.xml

# Signing files
.signing/
*.jks
*.keystore

# Android Studio
.idea/
*.iml

# Native / C++
.cxx/
.externalNativeBuild/

# Temp / captures
captures/

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db